/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body .container {
  margin-top: 150px;
}

.navbar {
  padding: 1rem;
  background-color: black;
  // z-index: 1;
  border: none;
}

.navbar .logo {
  position: relative;
  left: 2rem;
  cursor: pointer;
  height: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FED100;
}

.navbar-default .navbar-text {
  color: white;
}

.logo:hover { 
  transform: scale(1.15,1.15); 
}

// @media (min-width: 500px) {
// 	html { font-size: 112%; }
// 	.column {
// 		float: left;
// 		padding-left: 1rem;
// 		padding-right: 1rem;
// 	}
// 	.column.full { width: 100%; }
// 	.column.two-thirds { width: 66.7%; }
// 	.column.half { width: 50%; }
// 	.column.third { width: 33.3%; }
// 	.column.fourth { width: 25%; }
// 	.column.flow-opposite { float: right; }
// }