// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-create {
  text-align: center;
}

.admin-title {
  text-align: center;
  font-family: fantasy;
}

.user-title {
  text-align: center;
  font-family: fantasy;
}

.require {
  font-style: italic;
  font-size: small;
}

div.dataTables_length label {
 font-weight: bold !important; 
}

div.dataTables_filter label {
  font-weight: bold !important; 
}

.table-hover > tbody > tr:hover {
  color: black;
}

.table-background {
  background-color: #696969;
  border-radius: 5px;
}