<footer class=footer-basic-centered id='footer'>
  <p class="footer-company-motto"><strong>Shipment Disclaimer:</strong> Courier USA, LLC will not ship any illegal materials under any circumstance.</p>
  <p class="footer-company-motto"><strong>Privacy Policy:</strong> Courier USA, LLC will not share any private information with anyone that is unneccessary to fulfill our duties and obligations to our clients.</p>
  <p class="footer-company-motto"><strong>International Shipping:</strong> We reserve the right and obligation to inspect the contents of any package to ensure that there are no illegal contents.</p>
  <p class="footer-company-name">Courier USA LLC © 2016, All Rights Reserved</p>
</footer>