<div class="index-hiws">

  <section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Unrestricted Access, No Limitations</h2>
                    <p class="text-muted">Finally, access custom products and brands abroad at discounted prices</p>
                    <hr class="hiws-hr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                              <%= image_tag 'hiws.png', class: 'img-responsive img-home-hiws', alt: '' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-search-plus fa-5x" aria-hidden="true"></i>
                                <h3>1 | Find Products</h3>
                                <p class="text-muted">Every month, we bring you custom products at unbelievable prices. Browse featured products on our product page.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i>
                                <h3>2 | Customize</h3>
                                <p class="text-muted">Don't see what you need? No problem! Get a free shipping estimate for any product you find online by providing us a link to your desired goods.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
                                <h3>3 | Shipping</h3>
                                <p class="text-muted">We'll source all your purchases and ship them direct to your address! We suggest creating an account to track your orders.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
                                <h3>4 | Arrival</h3>
                                <p class="text-muted">We promise your order will arrive in a timely manner. If you have any questions about your order, please don't hesitate to contact us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render 'layouts/footer' %>
</div>
