<section class="hero-content">
  <h1 class="hero-title">Shop Courier USA</h1>
  <div class="text-center">
    <% if current_user && current_user.admin? %>
      <%= link_to "Manage Orders", orders_path, class: 'btn' %>
    <% elsif current_user %>
      <%= link_to "My Orders", myorders_path, class: 'btn' %>
    <% else %>
      <p class="hero-subtitle">Sign In To View and Pay Your Packages!</p>
      <%= link_to "Sign In!", new_user_session_path, class: 'btn' %>
    <% end %>
  </div>
</section>
