<section class="hero-content">
  <h1 class="hero-title">Shop Courier USA</h1> 
  <!--<span class="column fourth">-->
  <div class="text-center">
    <%= link_to "Sign Up!", new_user_registration_path, class: 'btn' %>
  </div>
  <!--</span>-->
</section>
